.dashboard {
    flex-grow: 1;
    display: flex;
    transition: var(--transition);
    height: 100%;
}

.buttonsLayout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.dashboard__container {
    flex-grow: 1;
    padding: 3em;
    transition: var(--transition);
    height: 100%;
    overflow-y: auto;
}

.dashboard__home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.dashboard__heading {
    margin-bottom: 20px;
}

.dashboard__heading h3 {
    font-weight: 600;
}

.dashboard__list {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.dashboard__list.centered {
    text-align: center;
}

.dashboard__listRow {
    display: grid;
    align-items: center;
}

.dashboard__listRow:nth-child(even) {
    background-color: var(--color-white);
}

.dashboard__listRow p {
    padding: 10px;
}

.dashboard__listActions {
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.dashboard__listActions span {
    cursor: pointer;
}

.dashboard__listEdit {
    color: var(--color-old-gold) !important;
}

.dashboard__listDelete {
    color: var(--color-red-cmyk) !important;
}

.dashboard__buttonAction {
    margin-top: 40px;
}

.dashboard__tabs {
    display: flex;
    align-items: center;
    background-color: var(--color-white);
    margin-bottom: 40px;
}

.dashboard__tab {
    flex-grow: 1;
    padding: 12px;
    text-align: center;
    border-bottom: 2px solid transparent;
}

.dashboard__tab.active {
    border-color: var(--color-denim);
}

.dashboard__tab:hover button, .dashboard__tab.active button {
    color: var(--color-denim);
}

.dashboard__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.dashboard__changeType {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}